<h1>Systems IPortal</h1>

<p>Dear Admin</p><br/>

<p>You have got new request for account activation approval. Kindly proceed to login on portal and activate the user.</p><br/><br/><br/>

<table style="border: 1px solid black;">
  <tr>
    <th>Employee Id</th>
    <th>Email</th>
    <th>Sign up date</th>
  </tr>
  <tr>
    <td><%= @user.employee_id %></td>
    <td><%= @user.email %></td>
    <td><%= @user.created_at %></td>
  </tr>
</table>

<br/><br/><br/>
<i>Thanks & Regards,</i><br/>
<p>Admin, Systems Iportal</p><br/>