<h1>Systems IPortal</h1>

<p>Dear <%= @user.email %></p><br/>

<p>Your account is now activated by the admin. you can use all features of platform user on the portal.</p><br/><br/>
<a href="<%= ENV['FRONTEND_URL'] %>">Please proceed to the portal by logging in your account.</a><br/><br/>

<br/><br/><br/>
<i>Thanks & Regards,</i><br/>
<p>Admin, Systems Iportal</p><br/>