<h1>Systems IPortal</h1>

<p>Hi <%= @user.email %></p><br/>

<p>Please click on the link to set your password. <a href="<%= @set_password_url %>"><%= @set_password_url %></a></p><br/>

<br/><br/><br/>
<i>Thanks & Regards,</i><br/>
<p>Admin, Systems Iportal</p><br/>