<h1>Systems IPortal</h1>

<p>Hi <%= @user.email %></p><br/>

<p>Please click on the link to change your password for systems iportal. <a href="<%= @change_password_url %>"><%= @change_password_url %></a></p><br/>
<p>Your password change request will expire on <i><%= (Time.now + CHANGE_PASSWORD_TIME_OUT.seconds.to_i).strftime("%m-%d-%Y %H:%M") %></i></p><br/><br/>

<br/><br/><br/>
<i>Thanks & Regards,</i><br/>
<p>Admin, Systems Iportal</p><br/>