<h1>Systems IPortal</h1>

<p>Hi <%= @user.email %></p><br/>

<p>Please click on the link to confirm your email for systems iportal. <a href="<%= @confirm_email_url %>"><%= @confirm_email_url %></a></p><br/>
<p>Your email confirmation will expire on <i><%= (Time.now + EMAIL_CONFIRMATION_TIME_OUT.seconds.to_i).strftime("%m-%d-%Y %H:%M") %></i></p><br/><br/>

<br/><br/><br/>
<i>Thanks & Regards,</i><br/>
<p>Admin, Systems Iportal</p><br/>